<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rowan.TfsWorkingOn.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rowan.TfsWorkingOn.WinForm.Properties.Settings>
            <setting name="ConfigurationsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TfsServer" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="SelectedProjectId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserActivityIdleTimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MonitorUserActivity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BalloonTipTimeoutSeconds" serializeAs="String">
                <value>5</value>
            </setting>
        </Rowan.TfsWorkingOn.WinForm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
